//- Pug Document
doctype html
html(lang="en")
  - const titulo= `App | EmailEnviado`
  include _head

  body

  include _header

  main.main
    .formulario-signup
      - if (!confirmacionEmail)
        h2.titulo-secundario.quick-facts Ya hemos enviado un email!
        p.formulario--label(for="nombre")= `Ya hemos enviado un correo a su email personal ${email}`
          br
          | Si aun no le llega, ingrese al siguiente link 
          a(href="http://localhost:3000/confirmarTuEmail" target="_blank") aqui
          |  para enviar de nuevo otro email 😊
      - if (usuarioLocal?.emailConfirm)
        h2.titulo-secundario.quick-facts Tu Email ha sido verificado!
        p.formulario--label(for="nombre") Ya puedes explorar nuestra aplicación 😊
      

  include ./_footer.pug