//- Pug Document
doctype html
html(lang="en")
  - const titulo= `App | EmailEnviado`
  include _head

  body
    header.cabezera
      nav.navegador.navegador--tours
        form.navegador--buscador
          button.navegador--buscador-boton
            svg
              use(xlink:href="/imagenes/iconos.svg#icon-search")
          input.navegador--buscador-input(type="text", placeholder="buscar tours")

      .cabezera-logo
        a(href="/home")
          img#home.navegador--elemento(src="/imagenes/logo-white.png", alt="aplicacion logo")

      nav.navegador.navegador--usuarios

    main.main
      .formulario-signup
        h2.titulo-secundario.quick-facts Verifica tu Email!
        p.formulario--label(for="nombre") Hemos enviado una URL a tu correo personal ingresado, porfavor ingresa a tu correo y realiza la autenticacion dando click a la URL.

    include ./_footer.pug