extends _baseEmail

block extenderContenedor
  //- variableLocal "primerNombre" --Class EmailTrap---
  p Hola #{primerNombre},
  p Olvidastes tu Password? Ingresa al siguiente Link para establecer un nuevo password:
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  //- variableLocal "URL" --Class EmailTrap---
                  a(href=`${url}`, target='_blank') Crear nuevo password
  p Si no olvidó su contraseña, ¡ignore este correo electrónico!
  p - Xavier Huaman, CEO