<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./../css/estilos.css" />
<link rel="shortcut icon" type="image/png" href="/imagenes/favicon.png" />
<script type="module" defer src="./../js/home.js"></script>
<% function scriptMapa(){ %> <script type="module" defer src="./../js/mapa.js"></script>
<% }; %>
<% typeof mapa !== 'undefined' ? scriptMapa() : null  %>
<title><%= typeof titulo !== 'undefined' ? titulo : '' %></title>


