<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./_head",{titulo: "App | Login"}); %>
  </head>

  <body>
    <!------------------1.0 CABEZERA ------------->
    <%- include ("./_header"); %>

    <!------------------3.0 MAING ------------->
    <main class="main">
      <div class="formulario-login">
        <h2 class="titulo-secundario quick-facts">Ingresar a tu Cuenta</h2>
        <form name="formulario-login" id="formulario-login">
          <div class="formulario--grupo">
            <label class="formulario--label" for="email">Email</label>
            <input
              id="email"
              class="formulario--input"
              type="email"
              placeholder="you@example.com"
              required
            />
          </div>

          <div class="formulario--grupo quick-facts">
            <label class="formulario--label" for="password">Password</label>
            <input
              id="password"
              class="formulario--input"
              type="password"
              placeholder="••••••••"
              required
              minlength="8"
            />
          </div>
          <div class="formulario--grupo">
            <button type="submit" class="boton boton--verde">Login</button>
          </div>
        </form>
      </div>
    </main>
    <!------------------3.0 FOOTER ------------->
    <%- include ("./_footer") %>
  </body>
</html>
