  <!DOCTYPE html>
  <html lang="en">
  <%- include ("./_head",{titulo: "App | Signup"}); %>
  <body>
    <!------------------1.0 CABEZERA ------------->
    <%- include ("./_header"); %>

    <!------------------3.0 MAING ------------->
    <main class="main">
      <div class="formulario-signup">
        <h2 class="titulo-secundario quick-facts">Crea tu Cuenta</h2>
        <form class="" action="">
          <div class="formulario--grupo">
            <label class="formulario--label" for="nombre">Nombre</label>
            <input
              class="formulario--input"
              id="signup-nombre"
              placeholder="Ingresa tu nombre"
              type="text"
              required
            />
          </div>

          <div class="formulario--grupo">
            <label class="formulario--label" for="email">Email</label>
            <input
              class="formulario--input"
              id="signup-email"
              placeholder="miemail@ejemplo.com"
              type="text"
              required
            />
          </div>

          <div class="formulario--grupo">
            <label class="formulario--label" for="password">Password</label>
            <input
              class="formulario--input"
              id="signup-password"
              placeholder="Ingresa tu contraseña"
              type="password"
              required
            />
          </div>

          <div class="formulario--grupo">
            <label class="formulario--label" for="password-confirm">
              Confirmar Password
            </label>
            <input
              class="formulario--input"
              id="signup-password-confirm"
              placeholder="Confirma tu contraseña"
              type="password"
              required
            />
          </div>
          <input type="submit" class="boton boton--verde">Sign Up</input >
        </form>
      </div>
    </main>
    <!------------------3.0 FOOTER ------------->
    <%- include ("./_footer") %>
  </body>
</html>
